
<div class="depot-form">
  <h1>Checkout</h1>
  <fieldset>
    <legend>Please enter your details</legend>
    <%= render 'form', order: @order %>

  </fieldset>

  <%#= link_to 'Back', orders_path %>
</div>

